:root {
  --color-primary: #071629;
  --color-secondary: #FF6565;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --mobile-width: 375px;
  --tablet-width: 768px;
  --desktop-width: 1400px;
  --content-max-width: 1000px;
  --font-primary: 'Source Sans Pro';
  --font-secondary: 'Spin Cycle';
}
